* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.course-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.course-img img{
    height: 500px;
    background: rgb(42, 41, 39);
    color: white;
}

.course-content{
    display: flex;
    justify-content: space-around;
    font-size: 50px; 
       
}

.course-des{
    align-items: justify;
    display: flex;
}

footer{
  background-color: #1f1d1d;
  font-size: 12px;
  color: rgb(228, 43, 43);
}

.inner-footer{
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 3em;
}

.footer-text{
 width: 40%;
}

.contact{
  margin-right: 3em;
}

.copright{
  background-color: #000;
  text-align: center;
  padding: 1em;
}

.icons li{
  list-style: none;
}

.course-price{
  text-align: center;
}