@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.course-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.course-img img{
    height: 500px;
    background: rgb(42, 41, 39);
    color: white;
}

.course-content{
    display: flex;
    justify-content: space-around;
    font-size: 50px; 
       
}

.course-des{
    align-items: justify;
    display: flex;
}

footer{
  background: linear-gradient(rgba(31, 34, 218, 0.7), rgba(203, 173, 216, 0.7)), url(bg.jpg);
  background-size: cover;
  background-position: center;
  font-size: 12px;
  color: rgb(228, 43, 43);
}

.inner-footer{
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 3em;
  text-align: justify;
 
  margin-bottom: -60px
  
}

.footer-text{
 width: 40%;
 font-size: 18px;
 color: cornsilk;
 font-family: 'Exo 2', sans-serif;
 font-weight: bold;
}

.contact{
  margin-right: 3em;
  font-size: 20px;
 color: cornsilk;
 font-family: 'Exo 2', sans-serif;
}

.copyright{
  background: linear-gradient(rgba(31, 34, 218, 0.7), rgba(203, 173, 216, 0.7)), url(bg.jpg);
  text-align: center;
  padding: 1em;
  font-size: 20px;
 color: cornsilk;
 font-family: 'Exo 2', sans-serif;
 font-weight: bold;
}

.icons li{
  list-style: none;
}

.course-price{
  text-align: center;
}