@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  padding: 10px;
  margin: 20px;
  background: linear-gradient(rgba(28, 188, 156, 0.7), rgba(142, 68, 173, 0.7));
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image-container img {
  overflow: hidden;
  height: 180px;
  align-items: center;
  margin-bottom: 20px;
}
.course-container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Exo 2", sans-serif;
  color: white;
  padding: 20px;
  margin: 20px;
  background: linear-gradient(rgba(226, 233, 238, 0.7), rgba(193, 212, 80, 0.7)),
    url("https://images.unsplash.com/photo-1462536943532-57a629f6cc60?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80");
    background-size: cover;
  background-position: center;
}

.card-content {
  margin: 1 rem;
  margin-top: 0.5rem;
}

h3 {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.picture-div {
  text-align: center;
}

.picture-div {
  width: 100%;
  margin-bottom: 100px;
  background: linear-gradient(rgba(28, 188, 156, 0.7), rgba(142, 68, 173, 0.7)),
    url(bg.jpg);
  color: white;
  padding: 70px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  font-size: 20px;
  padding: 30px;
  background: linear-gradient(rgba(31, 34, 218, 0.7), rgba(203, 173, 216, 0.7)),
    url(bg.jpg);
  background-size: cover;
  background-position: center;
}

.nav-item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: rgb(240, 247, 248);
  margin-top: 15px;
  font-size: 25px;
  transition: 0.9s all ease-in-out;
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
}

.navlinks {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  width: 50%;
  font-size: 25px;
}

.nav-item:hover {
  color: rgb(198, 228, 27);
}

.btn {
  font-size: 15px;
  font-weight: 500;
  border-radius: 10px;
  margin: 10px;
  font-family: "Exo 2", sans-serif;
}

.logo img{
  width: 5px;
  height: 5px;
}
