* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card-container{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  padding: 10px;
  margin: 20px;
}

.card-container:hover{
   transform: scale(1.1); 
   box-shadow: 0px 0px 15px 0px;

}

.image-container img{
 overflow: hidden;
 height: 100px;
 align-items: center;
}
.course-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card-content{
   margin: 1 rem;
  margin-top: 0.5rem; 
  
}

