@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.card-container{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.5s;
  animation: ease-in-out;
  padding: 10px;
  margin: 20px;
  background: cornsilk;
  
}

.card-container:hover{
   transform: scale(1.1); 
   box-shadow: 0px 0px 15px 0px;

}

.image-container img{
 overflow: hidden;
 height: 180px;
 align-items: center;
 
}
.course-container-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

.card-content{
   margin: 1 rem;
  margin-top: 0.5rem; 
  
}

h3{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.picture-div{
   text-align: center;
}

.picture-div{
    width: 100%;
    margin-bottom: 100px;
   background: linear-gradient(rgba(28, 188, 156, 0.7), rgba(142, 68, 173, 0.7)),
    url(bg.jpg);
    color: white;
    padding: 70px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
   
}

.nav-container{
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
 font-size: 30px;
 padding: 20px;
 
}

.nav-item{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(25, 111, 122);
    margin-top: 15px;
    font-size: 30px;
    transition: 0.5s all ease-in-out;
      font-family: 'Exo 2', sans-serif;
    font-weight: 800;
  
}

.navlinks{
     display: flex;
     list-style-type: none;
     justify-content: space-around;
    width: 50%;
    font-size: 25px;
}





