 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.Home-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 50px;
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
    color: white;
}

.main-container{
     background: linear-gradient(rgba(28, 188, 156, 0.7), rgba(142, 68, 173, 0.7)),url(bgh.jpeg);
      background-size: cover;
  background-position: center;
}

