 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.Home-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 80px;
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
    color: white;
    font-size: 65px;
}

.main-container{
     background: linear-gradient(rgba(32, 148, 80, 0.7), rgba(29, 60, 197, 0.7)),url(bgh.jpeg);
      background-size: cover;
  background-position: center;
}



