

.container1 {
  max-width: 800px;
  height: 600px;
  font-size: 30px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
  box-sizing: border-box;
  padding: 40px;
  background-size: cover;
  background-position: center;
  
}

.login .input:last-child {
  margin-right: 0;
}

.input,
.msg .area {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
}

.msg .area {
  height: 150px;
}

.btn-3 {
  padding: 0.8rem 2rem;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
  background-color: rgb(122, 122, 207);
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s;
  margin-top: -20px;
  text-align: center;
}
.btn-2:hover {
  background-color: rgb(54, 50, 51);
}

.contact-head{
    text-align: center;
     font-family: 'Exo 2', sans-serif;
     font-weight: bold; 
     color: rgb(255, 254, 253);
}

.ins-profile{
  background: linear-gradient(rgba(80, 81, 82, 0.7), rgba(26, 179, 218, 0.7)), url("https://images.pexels.com/photos/3764402/pexels-photo-3764402.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3764402.jpg&fm=jpg");  
  background-size: cover;
  background-position: center;
}

.contact-p{
    color: cornsilk;
}