 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap');


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}



.Home-div{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 80px;
    font-family: 'Exo 2', sans-serif;
    margin: 20px;
    color: white;
    font-size: 65px;
}

.main-container{
     background: linear-gradient(rgba(53, 115, 231, 0.7), rgba(70, 70, 58, 0.7)),url(bgh.jpeg);
      background-size: cover;
  background-position: center;
  margin-bottom: -20px;
  margin-top: -20px;
  height: 100vh;
}

.sign-up{
    text-align: center;
}

.top-head{
    font-weight: 900;
}

.main-nav-active{
    color: tomato;
}



