@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.instructor-card {
 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background: linear-gradient(rgba(225, 226, 235, 0.7), rgba(223, 125, 95, 0.7)), url("https://images.pexels.com/photos/3764402/pexels-photo-3764402.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3764402.jpg&fm=jpg");  
}

.ins-img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px;
  margin-right: 30px;
}

.div-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.ins-para {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 60px;
  color: rgb(253, 247, 247);
  margin-left: 50px;
  margin-right: 50px;
  background: linear-gradient(rgba(23, 24, 24, 0.7), rgba(112, 88, 173, 0.7));
   background-size: cover;
  background-position: center;
  border-radius: 30px;
  font-family: "Exo 2", sans-serif;
}

h1 {
  padding: 10px;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: white;
}

.ins-heading {
  text-align: center;
  color: rgb(231, 243, 245);
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  padding: 30px;
}

.picture-div-1 {
  display: flex;
  padding: 40px;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(rgba(28, 188, 156, 0.5), rgba(142, 68, 173, 0.5)),
    url("https://images.pexels.com/photos/8106657/pexels-photo-8106657.jpeg?cs=srgb&dl=pexels-karolina-grabowska-8106657.jpg&fm=jpg");
  background-size: cover;
  background-position: center;
}

.picture-div-1 h3 {
  font-size: 40px;
  color: white;
  padding: 60px;
}

.btn-1 {
  font-size: 20px;
  font-weight: 700;
  background-color: rgb(46, 41, 32);
  border-radius: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 30px;
  color: rgb(250, 243, 243);
  font-family: "Exo 2", sans-serif;
}

.heading-ins {
  margin-bottom: 40px;
  font-weight: 900;
  opacity: 0.6;
 
}

.ins-title{
    color: rgb(42, 39, 39);
     
}