.div-container {
  background: linear-gradient(rgba(27, 147, 151, 0.7), rgba(16, 22, 24, 0.7));
}
.container-1 {
  background: linear-gradient(rgba(80, 149, 218, 0.7), rgba(161, 168, 55, 0.7)),
    url("bgh.jpeg");
  max-width: 800px;
  height: 600px;
  color: rgb(211, 203, 163);
  font-size: 30px;
  font-weight: bold;
  background-size: cover;
  background-position: center;
  margin: 40px auto;
  box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
  box-sizing: border-box;
  padding: 30px;

  height: 100vh;
  background: linear-gradient(rgba(80, 149, 218, 0.7), rgba(44, 141, 165, 0.7)),
    url("bgh.jpeg");
}

.login-1 {
  margin: 10px;
  padding: 10px;
}

.input-1 {
  width: 100%;
  font-size: 10px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border: 2px solid #e9eaea;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  transform: all 0.5s ease;
  font-weight: bold;
}

.add {
  font-size: 40px;
  color: aliceblue;
  font-weight: bold;
  font-family: "Exo 2", sans-serif;
}
